@use "@utils/css/color" as colors;
@use "@utils/css/space" as space;
@use "sass:color";

.products__filter {
  margin-bottom: 15px;

  .close {
    display: none;
    margin-left: auto;
    width: 24px;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  &__btn {
    border: 1px solid colors.$yellow;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    display: none;

    img {
      width: 60%;
    }
  }

  &__submit {
    color: colors.$black;
    border: 1px solid colors.$blue;
    background: colors.$blue;
    border-radius: space.$border-radius;
    height: 40px;
    padding-inline: space.$padding;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;

    &:hover {
      background: color.adjust($color: colors.$blue, $lightness: -10%);
      border-color: color.adjust($color: colors.$blue, $lightness: -10%);
    }
  }
}

@media screen and (max-width: 767px) {
  .products__filter {
    &__btn {
      display: flex;
    }
    .close {
      display: block;
    }

    &__filter {
      position: fixed;
      z-index: 100;
      top: 0;
      background: colors.$blue;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow: auto;
      padding: 15px;
      box-sizing: border-box;
      display: none;

      &--active {
        display: block;
        animation: test 0.3s forwards;

        @keyframes test {
          from {
            left: 100%;
          }
          to {
            left: 0;
          }
        }
      }
    }
  }
}
